@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MAIN SETTINGS */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flexbox;
    flex: content;
    text-align: center;
    width: 100%;
}

/* h1 {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}   

h2 {
    font-weight: bold;
}
h4 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
} */

h1 {
    text-align: center;
    font-weight: 800;
}   

h2 {
  font-weight: 700;
}
h4 {
    font-weight: 500;
}

h3 {
 font-weight: 600;
}

.icon {
    width: 1.5rem;
    padding: 0.2rem;
}

.icon-uni {
    width: 9rem;
}

.cursos {
    /* font-style: italic; */
    font-weight: 350;
}

.date {
    font-style: italic;

}

/* CUSTOM STYLES */


/* .navbar {
    display: flex;
    display: flexbox;
} */






/* SECTION ESTUDOS */


.education {
    background-color: beige;
     border-radius: 8px;
<<<<<<< Updated upstream
     position: relative;
=======
     /* float: inline-end; */
>>>>>>> Stashed changes
}

.edu {
    padding: 1rem;
    gap: 1rem;
    display: inline-flex;
    max-width: 90%;


}


.graduation {
    /* background-color: white; */
     border-radius: 8px;

}

.tec {
    /* background-color: white; */
     border-radius: 8px;

}




<<<<<<< Updated upstream
=======



.tec {
    font-weight: 700;
}

>>>>>>> Stashed changes
.description {
    /* font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
  /* padding: 1rem; */
  font-weight: 400;
}

.profile {
    width: 50dvh;

}

<<<<<<< Updated upstream

/* SKILLS */


.skills {
    background-color: brown;
}

.skills-habilidades {
    
}

.skills-flex {
    padding: 1rem;
    gap: 1rem;
    display: inline-flex;
    max-width: 90%;
=======
/* SECTION SKILLS */

.skill {
    /* background-color: blue; */

}

.skills-tech {
    display: inline-flex;
    max-width: 90%;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
}

.skills-1 {
    /* background-color: azure; */
    border-radius: 8px;
}

.skills-1-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

.skills-2 {
    /* background-color: red; */
    display: flexbox;
    flex-wrap: wrap;
    border-radius: 8px;
}

.icon-tech {
    width: 1rem;
>>>>>>> Stashed changes
}